<div class="modal-header">
	<button type="button" class="close" ng-click="close()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" id="myLargeModalLabel">View Attachment</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-8 panel-collapse">
			<dl class="dl-horizontal">
				<dt>Type</dt>
				<dd>Attachment</dd>

				<dt>Title</dt>
				<dd>
					<a ng-if="attach != 'ccg'" href="" ng-click="getAttachment(attach.id,attach.attachmentName)">{{attach.attachmentName}}</a> <a ng-if="attach == 'ccg'" href=""
						ng-click="getAttachmentCcg(changeControl.ccgRecordId, changeControl.ccgChangeInfomation.attachmentName)">{{changeControl.ccgChangeInfomation.attachmentName}}</a>
				</dd>

				<dt>Last Modified</dt>
				<dd>
					<span ng-if="attach == 'ccg'">{{changeControl.createdDate| date: 'short'}}</span> <span ng-if="attachment.modifiedDate == null && attach != 'ccg'">{{attach.createdDate
						| date: 'short'}}</span> <span ng-if="attachment.modifiedDate != null && attach != 'ccg'">{{attach.modifiedDate | date: 'short'}}</span>
				</dd>

				<dt>Created By</dt>
				<dd>

					<span ng-if="attach == 'ccg'"><span ng-show="changeControl.createdBy == null">SYSTEM</span> <span ng-show="changeControl.createdBy != null"><a target="_blank"
							href="http://people.qualcomm.com/People?query={{changeControl.createdBy.uid}}">{{changeControl.createdBy.fullName}}</a> </span></span> <span ng-if="attach != 'ccg'"><a
						target="_blank" href="http://people.qualcomm.com/People?query={{attach.createdBy.uid}}">{{attach.createdBy.fullName}}</a></span>
				</dd>
			</dl>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
</div>
